.confirmation__heading {
    /* padding-top: 24px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.confirmation__button-submit{
    padding: 0 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: snow;
    border: 1px solid #348ABF;
    border-radius: 2px;
    color: #348ABF;
    cursor: pointer;
}

.confirmation__date-today{
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

.confirmation__inner{
    max-width: 1230px;
    margin: 0 auto;
    height: 70%;
}
.confirmation__table {
    margin:auto;
    width: 90%;
    border-collapse: collapse;
}

.confirmation__row {
    border-top: 1px solid #E0DFDE;
}

.confirmation__label,
.confirmation__data {
    width: 20%;
    padding: 16px 0;
    text-align: left;
    padding-left: 48px;
}

/* .confirmation__label:first-of-type,
.confirmation__data:first-of-type {
    padding-left: 48px;
}

.confirmation__label:last-of-type,
.confirmation__data:last-of-type {
    padding-right: 48px;
} */

.confirmation__pagination{
    height: 15%;
}
