.confirmation__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.confirmation__button-submit{
    padding: 0 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: snow;
    border: 1px solid #348ABF;
    border-radius: 2px;
    color: #348ABF;
    cursor: pointer;
}

.confirmation__date-today{
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

.confirmation__inner{
    max-width: 1230px;
    margin: 0 auto;
    height: 70%;
}

.confirmation__table {
    margin:auto;
    width: 90%;
    border-collapse: collapse;
}

.confirmation__table--contents {
    border-top: 1px solid #E0DFDE;
    text-align: center;
    height: 16%;
    font-size: 20px;
    height: 56px;
}

.confirmation__table--contents-data {
    padding: 10px;
}

.confirmation__pagination{
    height: 15%;
}

@media screen and (max-width: 768px){
    .confirmation__table--contents {
    font-size: 16px;
    height: 46px;
    }

    .confirmation__date-today{
        font-size: 18px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 480px){
    .confirmation__table--contents {
    font-size: 14px;
    }

    .confirmation__date-today{
        font-size: 16px;
    }

    .confirmation__table--contents-data {
        padding: 4px;
    }
}
