*{
    font-family: Arial;
}

.content {
    height: 500px;
    background-color: #F2F2F0;
    max-width: 1920px;
    margin: auto;
}
.header {
    max-width: 1920px;
    background-color: snow;
}
.header__inner {
    max-width: 1230px;
    margin: auto;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header__heading {
    font-weight: lighter;
    font-size: 32px;
    padding-left: 40px;
}

.header-nav {
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.header-nav__link {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.header-nav__button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: snow;
}

small{
    display: block;
    text-align: center;
    padding-top: 10px;
    background-color: snow;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    background-color: snow;
    border: 1px solid #E0DFDE;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #348ABF;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #8B7969;
    background-color: #348ABF;
    color: #FFF;
}
