body{
    font-family: Arial;
}

main{
    background-color: #F2F2F0;
}

.header {
    max-width: 1230px;
    margin: auto;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: snow;
}

.header__heading {
    font-weight: lighter;
    font-size: 32px;
    grid-column: 1/2;
    padding-left: 40px;
}

.header-nav {
    grid-column: 2/3;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.header-nav__link {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.header-nav__button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: snow;
}

small{
    display: block;
    text-align: center;
    padding-top: 20px;
    background-color: snow;
}
