.user__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.user__heading h2{
    font-weight: normal;
}
.user__button-submit{
    padding: 0 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: snow;
    border: 1px solid #348ABF;
    border-radius: 2px;
    color: #348ABF;
    cursor: pointer;
}

.user__date-today{
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

.user__inner{
    max-width: 1230px;
    margin: 0 auto;
    height: 70%;
}
.user__table {
    margin:auto;
    width: 90%;
    border-collapse: collapse;
}

.user__row {
    border-top: 1px solid #E0DFDE;
}

.user__label,
.user__data {
    width: 20%;
    padding: 16px 0;
    text-align: left;
    padding-left: 48px;
}

/* .user__label:first-of-type,
.user__data:first-of-type {
    padding-left: 48px;
}

.user__label:last-of-type,
.user__data:last-of-type {
    padding-right: 48px;
} */

.user__pagination{
    height: 15%;
}
